<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button>
            <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
        </button>

        <span class="menu-spacer"></span>
        <div>
            <a mat-button routerLink="books"> Books </a>
            <a mat-button routerLink="directive-example"> Directive </a>
        </div>
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <mat-nav-list>

            <a mat-list-item routerLink="books"> Books </a>
            <a mat-list-item routerLink="directive-example"> Directive </a>

        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div style="height: 88vh;">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>